<div class="sidebar bg-black text-white h-full p-4 overflow-y-auto">
    
    <button (click)="createChat()" class="bg-black hover:bg-customGray text-white  text-lg mb-4 rounded">
        <i class="fa-solid fa-plus"></i> Create New Chat
    </button>
    
    <hr class="border-t-2 border-gray-400 mb-4">
    <ul class="space-y-2 fade-in">
        <li
          *ngFor="let chat of chatDtos"
          class="relative cursor-pointer p-2 rounded-xl hover:bg-customGray flex justify-between items-center"
        
          [ngClass]="{
            'bg-customGray': selectedChat?.chatId === chat.chatId || actionMenuChatId === chat.chatId,
            'transition-all duration-1000 ease-in-out': deletingChatId === chat.chatId,
            'bg-red-600 opacity-0': deletingChatId === chat.chatId
          }"
          (click)="handleChatClick(chat)"
          (mouseenter)="handleMouseEnter(chat.chatId)"
          (mouseleave)="handleMouseLeave(chat.chatId)"
        >
          <!-- Chat title or input for renaming -->
            <span 
              *ngIf="editingChatId !== chat.chatId" 
              class="truncate"
            >
              {{ chat.chatTitel }}
            </span>
            <input
              *ngIf="editingChatId === chat.chatId"
              [(ngModel)]="chat.chatTitel"
              class="w-full p-2 border rounded-lg text-black"
              (blur)="stopEditing(chat)"
              (keyup.enter)="stopEditing(chat)"
              placeholder="Rename chat"
            />
      
          <!-- Action menu -->
          <div class="relative" (click)="onActionMenuClick($event, chat)">
            <span 
              *ngIf="hoveredChatId === chat.chatId || selectedChat?.chatId === chat.chatId || actionMenuChatId === chat.chatId" 
              class="ml-2 text-gray-400 cursor-pointer text-center"
            >
              <i
                [ngClass]="{ 'text-white': actionMenuChatId === chat.chatId }"
                class="fa-solid fa-meteor"
              ></i>
            </span>
            <ul 
              *ngIf="actionMenuChatId === chat.chatId"
              class="absolute right-0 mt-4 w-48 bg-customGray rounded-xl shadow-lg z-10"
            >

              <li
                class="px-4 py-2 hover:bg-gray-600 hover:rounded-xl cursor-pointer flex items-center transition-all duration-200"
                (click)="startEditing(chat.chatId)"
              >
                <i class="fa-solid fa-pencil mr-2"></i> Rename
              </li>
              
              <li
                class="px-4 py-2 hover:bg-gray-600 hover:rounded-xl cursor-pointer flex items-center transition-all duration-200"
                (click)="archiveChat(chat.chatId)"
              >
                <i class="fas fa-archive mr-2"></i> Archive
              </li>

              <li
                class="px-4 py-2 hover:bg-red-400 text-red-600 hover:rounded-xl cursor-pointer flex items-center transition-all duration-200"
                (click)="deleteChat(chat.chatId)"
              >
                <i class="fas fa-trash-alt mr-2"></i> Delete
              </li>
            </ul>
          </div>
        </li>
      </ul>
  </div>
  