
.chatgpt-input::placeholder {
  color: #a0aec0; /* Цвет текста placeholder */
}

.chatgpt-input:focus {
  border-color: #3182ce; /* Цвет рамки при фокусе */
  box-shadow: 0 0 10px rgba(49, 130, 206, 0.5); /* Тень при фокусе */
}


.scrol {
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: #000000 #131417; /* Цвет ползунка и фона */
}


.wrap-text {
  word-wrap: break-word;       /* Переносит слово на новую строку, если оно длиннее контейнера */
  word-break: break-word;      /* Переносит строки в случае длинного текста */
  white-space: normal;         /* Разрешает перенос строк */
}


.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


  .animate-spin {
    @apply inline-block;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }