

.chatgpt-input {
  width: 100%;
  padding: 12px 16px; /* Внутренний отступ */
  border: 1px solid #4a5568; /* Цвет рамки */
  border-radius: 24px; /* Закругление углов */
  background-color: #2d3748; /* Цвет фона */
  color: white; /* Цвет текста */
  font-size: 16px; /* Размер текста */
  outline: none; /* Убирает стандартное выделение */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.chatgpt-input::placeholder {
  color: #a0aec0; /* Цвет текста placeholder */
}

.chatgpt-input:focus {
  border-color: #3182ce; /* Цвет рамки при фокусе */
  box-shadow: 0 0 10px rgba(49, 130, 206, 0.5); /* Тень при фокусе */
}

/* Затемнение при загрузке */
.loading-dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  border-radius: 1rem;
}


.scrol {
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: #000000 #131417; /* Цвет ползунка и фона */
}

// .chat-container {
//     width: 400px;
//     margin: 0 auto;
//   }
  
//   .chat-input,
//   .chat-audio {
//     margin-bottom: 15px;
//   }
  
//   .chat-input input {
//     width: 70%;
//     padding: 5px;
//   }
  
//   .chat-input button,
//   .chat-audio button {
//     padding: 5px 10px;
//   }
  
//   .chat-responses {
//     border: 1px solid #ccc;
//     padding: 10px;
//     max-height: 300px;
//     overflow-y: auto;
//   }



.wrap-text {
  word-wrap: break-word;       /* Переносит слово на новую строку, если оно длиннее контейнера */
  word-break: break-word;      /* Переносит строки в случае длинного текста */
  white-space: normal;         /* Разрешает перенос строк */
}


.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


  .animate-spin {
    @apply inline-block;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }