.chatgpt-input::placeholder {
  color: #a0aec0; /* Placeholder text color */
}

.chatgpt-input:focus {
  border-color: #3182ce; /* Border color on focus */
  box-shadow: 0 0 10px rgba(49, 130, 206, 0.5); /* Shadow on focus */
}

.scrol {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #000000 #131417; /* Scrollbar and background color */
}

.wrap-text {
  word-wrap: break-word;       /* Wraps words to a new line if they exceed the container's width */
  word-break: break-word;      /* Breaks lines in case of long text */
  white-space: normal;         /* Allows line breaks */
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-spin {
  @apply inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
