<div class="scrol bg-black py-5 pr-5">

  <div class="flex flex-col h-[calc(100vh-40px)] bg-customBgForChat rounded-3xl overflow-hidden">

    <!-- Mode switch -->
    <div class="flex items-center justify-center py-4">
      <div class="bg-black rounded-full p-1 flex items-center space-x-1">
        <button
          (click)="setMode(testMoode)"
          [ngClass]="{
            'bg-customGray text-white': currentMode === testMoode,
            'text-gray-400': currentMode !== testMoode
          }"
          class="px-4 py-2 rounded-full text-sm font-medium transition duration-200"
         >
          {{testMoode}}
        </button>
        <button
          (click)="setMode(aIMoode)"
          [ngClass]="{
            'bg-customGray text-white': currentMode === aIMoode,
            'text-gray-400': currentMode !== aIMoode
          }"
          class="px-4 py-2 rounded-full text-sm font-medium transition duration-200"
        >
        {{aIMoode}}
        </button>
      </div>
    </div>

    <!-- Chat responses -->

    <div class="flex-1 p-4 overflow-y-auto flex-col-reverse " #responseContainer >
      <!-- Если есть сообщения -->
      <ng-container *ngIf="responses.length > 0">
        <div *ngFor="let response of responses">
          <!-- Сообщение пользователя -->
          <p
            *ngIf="response.prompt !== null"
            class="text-white bg-customBgForChat p-3 rounded-lg shadow mb-2 fade-in hover:bg-customGray duration-200 break-words max-w-[90%] ml-auto text-right overflow-hidden"
          >
            {{ response.prompt }}
          </p>
  
          <!-- Сообщение системы -->
          <p
            class="text-white bg-customBgForChat p-3 rounded-lg shadow mb-2 fade-in hover:bg-customGray duration-200 break-words max-w-[90%] overflow-hidden"
          >
            {{ response.conetent }}
          </p>
        </div>
      </ng-container>

        <!-- Если сообщений нет -->
      <div 
        *ngIf="responses.length === 0 || chatId === 'n'" 
        class="flex items-center justify-center h-full text-gray-400 text-center rounded-lg p-4"
      >
        <p>Send your prompt and audio</p>
      </div>
    </div>
  
    <div 
      *ngIf="loading" 
      class="flex items-center justify-center h-full text-white text-center"
      >
      <div class="animate-spin rounded-full h-8 w-8 border-t-2 text-white border-opacity-75"></div>
      <p class="ml-2">Loading...</p>
    </div>

    <!-- Chat input -->
    <div class="bg-customBgForChat p-4">
      <div class="flex items-center gap-2 ">
        <!-- Text input -->
        <input 
          type="text"
          [(ngModel)]="promptText"
          placeholder="Type your prompt"
          (keyup.enter)="onAudioSubmit()"
          class="flex-1 p-2 border-4  placeholder-gray-300 text-white border-black rounded-2xl focus:outline-none focus:ring focus:ring-customGray bg-customBgForChat"
        />

      <!-- Audio input -->
      <label class="flex items-center relative">
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="hidden"
        />
        <span 
          [ngClass]="{ 'bg-white text-black': selectedFile !== null }"
          class="cursor-pointer px-3 py-2 bg-black text-white rounded-lg hover:bg-white hover:text-black focus:ring focus:ring-green-300 duration-200">
          <i class="fa-solid fa-microphone-lines"></i>
        </span>
      </label>

        <!-- Submit button -->
        <button
        (click)="generationLoading ? cancelChatResponse() : onAudioSubmit()"
        class="px-4 py-2 bg-black text-customBgForChat rounded-lg hover:bg-white hover:text-black duration-200"
        [ngClass]="{'text-white': selectedFile !== null || promptText !== '' || generationLoading === true }"
      >
        <i *ngIf="generationLoading === false" class="fa-solid fa-circle-arrow-up"></i>
        <i *ngIf="generationLoading === true" class="fa-solid fa-stop  "></i>
      </button>

      </div>
    </div>
  </div>
</div>



